src/com/xyratex/label/population/dtd/local/labelpopulator.dtd

<!ELEMENT barcode EMPTY >
<!ATTLIST barcode id NMTOKEN #REQUIRED >
<!ATTLIST barcode symbology NMTOKEN #IMPLIED >

<!ELEMENT field ( barcode | human-readable )* >
<!ATTLIST field description NMTOKEN #REQUIRED >
<!ATTLIST field value NMTOKEN #REQUIRED >

<!ELEMENT human-readable EMPTY >
<!ATTLIST human-readable id NMTOKEN #REQUIRED >

<!ELEMENT label ( field+ ) >

<!ELEMENT xml ( label ) >
